<launch>
	
		<!-- Global Parameters here -->
		
		<!-- Ros Nodes in different groups below -->
		
	<group ns="fmSensors">
	
	<!--Launches the local sensor node which publishes some data on the topic-->
		
		<node pkg="claas_eye_drive" name="ish_local_sensing" type="ish_local_sensing.py" output="screen" respawn="false"/> 
		<param name = "localsensingdata" value = "/fmInformation/locSenDat"/>
	
	<!--Launches the global sensor node which publishes some data on the topic-->
	
		<node pkg="ishan_globalsensing" name="ish_global_sensing" type="ish_global_sensing.py" output="screen" respawn="false"/> 
		<param name = "globalsensingdata" value = "/fmInformation/gloSenDat"/>
	</group>
		
	<group ns="fmProcessors">
	
	<!-- Launches object detection node which detects the message sent by local sensor -->
	
		<node pkg="lidar_row_extractor" name="ish_object_detection" type="ish_object_detection.py"
		output="screen" respawn="false"/>
		<param name = "objectdetectiondata" value="/fmKnowledge/objDetDat"/>
		
	<!-- Launches localization mapping node which detects the message sent by global and local sensor -->
	
		<node pkg="ishan_localization_mapping" name="ish_localization_mapping" type="ish_localization_mapping.py" 
		output="screen" respawn="false"/>
		<param name="localizationmappingdata" value="/fmKnowledge/locMapDat"/>
		</group>
		
		<group ns="fmDecisionMakers">
		<!-- brief description of each node -->
		</group>
		
		<group ns="fmControllers">
		<!-- brief description of each node -->
		</group>
	
		<group ns="fmExecutors">
		<!-- brief description of each node -->
		</group>
		
		<group ns="fmSafety">
		<!-- brief description of each node -->
		</group>
		
		<group ns="fmLib">
		<!-- brief description of each node -->
		</group>
		
		<group ns="transforms">
		<!-- brief description of each node -->
		</group>
		
		<group ns="external">
		<!-- brief description of each node -->
		</group>


</launch>


		
		
		